
---
title: Verification
language: en
---


puts "Very Cool!"
